services:
  - type: web
    name: whatsapp-bot
    env: node
    plan: free
    autoDeploy: true

    buildCommand: npm install
    startCommand: npm start

    envVars:
      - key: NODE_VERSION
        value: 20

      - key: PORT
        value: 3000

      - key: SESSION_ID
        value: ""

      - key: PREFIX
        value: "."

      - key: MODE
        value: "PUBLIC"

      - key: SUDO
        value: ""
